<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sertifika_style.css">
    
</head>
<body>
    
    
    <button class="p_button" onclick="window.print()">SERTİFİKAYI YAZDIR</button>
    <br><br><br>

    
    <!-- bunlar sadece deneme yazıları ama sonradan veriler flask üzerinden gelecek -->


    <div id="container" >
        <img src="cert.png" alt=" sertifika template görseli yüklenemedi" >
        

        <p id="depatment_name">Bilgisayar Mühendisliği</p>

        <div id="name_surname">

            <p >İsim Soyisim</p>
        </div>

        <div id="text"> <p >13.05.2022 tarihinde Bölüm İsmi tarafından düzenlenen 
            Etkinlik İsmi etkinliğine katılarak bu sertifikayı almaya hak kazanmıştır. </p>
        </div>

        
        <p id="department_leader_title">Bölüm Başkanı </p>
        <p id="department_leader">Prof.Dr.Mustafa Ulutaş </p>


        <p id="speaker_title">Konuşmacı </p>
        <p id="speaker">Meltem Gültekin </p>


        <div id="photo_container">
            <img id="company_icon" src="akgun.png" alt=" sertifika template görseli yüklenemedi" >    
        </div>


        

        

        <!-- 

        bölüm başkanı ve konuşmacı başlıkları için bir tane daha container oluştur ve ona da merkezleme özelliklerini ver -->
        <!-- yazı fontlarını düzelt -->

        

        

        
  
    </div>




    
</body>
</html>